.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl)
    var(--mantine-spacing-lg) var(--mantine-spacing-lg);
}

.tabs {
  flex-shrink: 0;
  margin-bottom: var(--mantine-spacing-lg);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
