.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid #353b43cc;
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: var(--mantine-spacing-xl);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-dark-2);
  background: transparent;
  border: none;
  cursor: pointer;
  transition:
    color 150ms ease,
    font-weight 150ms ease;
}

.tab:hover {
  color: var(--mantine-color-white);
  font-weight: 800;
}

.tab[data-active='true'] {
  color: var(--mantine-color-white);
  font-weight: 800;
}

.indicator {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 4px;
  background-color: var(--mantine-color-primary-filled);
  transition:
    transform 300ms ease,
    width 300ms ease;
}
