.content {
  background-color: var(--mantine-color-dark-9);
  border: none;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
}

.body {
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  border-bottom: 2px solid var(--mantine-color-primary-4);
}

.headerTitle {
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--mantine-color-white);
}

.closeButton {
  color: var(--mantine-color-white);
}

.contentSection {
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-xl) var(--mantine-spacing-lg);
}

.subtitle {
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-lg);
  margin-bottom: var(--mantine-spacing-xl);
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xl);
}

.checkboxRoot {
  padding: var(--mantine-spacing-sm) 0;
}

.checkboxBody {
  display: flex;
  align-items: center;
}

.checkboxInner {
  display: flex;
  align-items: center;
}

.checkboxLabel {
  color: var(--mantine-color-gray-4);
  font-size: var(--mantine-font-size-lg);
  padding-left: var(--mantine-spacing-sm);
  line-height: 1;
}

.checkboxLabelChecked {
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-lg);
  padding-left: var(--mantine-spacing-sm);
  line-height: 1;
}

.checkboxInput {
  border-radius: 0 !important;
  border-color: var(--mantine-color-gray-4) !important;
  border-width: 2px !important;
  width: 22px !important;
  height: 22px !important;
}

.checkboxInput:checked {
  border-color: var(--mantine-color-primary-4) !important;
  background-color: var(--mantine-color-primary-4);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  border-top: 1px solid var(--mantine-color-dark-5);
}

.cancelButton {
  font-weight: 500;
}

.confirmButton {
  font-weight: 600;
}

.confirmButton:disabled {
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-gray-4);
}
