.container {
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.loadMore {
  display: flex;
  justify-content: center;
  padding: var(--mantine-spacing-xl);
  min-height: 60px;
}
