.container {
  --cards-grid-spacing: 10px;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);

  @media (max-width: 576px) {
    --cards-grid-spacing: 6px;
    padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);
  }
}

.title {
  letter-spacing: var(--customer-title-spacing);
  text-transform: uppercase;
  margin-bottom: var(--mantine-spacing-xl);
}

.tabsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mantine-spacing-lg);
}

.transparentBg {
  background-color: transparent;
}

.packsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mantine-spacing-lg);
}

.createPackButton {
  background-color: black;
  border: 1px solid var(--mantine-color-primary-4);
  color: white;
}

.createPackButton:hover {
  background-color: var(--mantine-color-primary-4);
  border-color: var(--mantine-color-primary-4);
}

.emptyStateWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
